In [5]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
crescendo_data = pd.read_csv('/content/Machine Learning Model .csv')

In [7]:
crescendo_data.head()

,index,annual_tunover,country,product_name,type_of_co_operation,foreign_company_name
0,0,"20,00,00,000",Russia,Vacuum Toilet System,Technology Venture,Taurus
1,1,"20,00,00,000",Italy,Vacuum Toilet System,Technology Venture,Intersys Srl
2,2,"20,00,00,000",Czech Republic,Vacuum Toilet System,Technology Venture,TRATEC-CS s.r.o..
3,3,"20,00,00,000",Germany,Vacuum Toilet System,Technology Venture,Trainvac Group
4,4,"20,00,00,000",United Kingdom,Vacuum Toilet System,Technology Venture,Birley Joinery Ltd

In [8]:
crescendo_data.shape

(216, 6)

In [9]:
selected_features = ['product_name','type_of_co_operation','annual_tunover']
print(selected_features)

['product_name', 'type_of_co_operation', 'annual_tunover']

In [10]:
combined_features = crescendo_data['product_name']+' '+crescendo_data['type_of_co_operation']+' '+crescendo_data['annual_tunover']

In [11]:
print(combined_features)

0      Vacuum Toilet System  Technology Venture 20,00...
1      Vacuum Toilet System  Technology Venture 20,00...
2      Vacuum Toilet System  Technology Venture 20,00...
3      Vacuum Toilet System  Technology Venture 20,00...
4      Vacuum Toilet System  Technology Venture 20,00...
                             ...
211                     Casting OutSourcing 80,00,00,000
212                     Casting OutSourcing 80,00,00,000
213                     Casting OutSourcing 80,00,00,000
214                     Casting OutSourcing 80,00,00,000
215                     Casting OutSourcing 80,00,00,000
Length: 216, dtype: object

In [12]:
vectorizer = TfidfVectorizer()

In [13]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [14]:
print(feature_vectors)

  (0, 1)	0.13807763065919307
  (0, 0)	0.27615526131838614
  (0, 2)	0.23188991855704888
  (0, 20)	0.3407582427519489
  (0, 17)	0.3407582427519489
  (0, 16)	0.4541172921990273
  (0, 18)	0.4541172921990273
  (0, 19)	0.4541172921990273
  (1, 1)	0.13807763065919307
  (1, 0)	0.27615526131838614
  (1, 2)	0.23188991855704888
  (1, 20)	0.3407582427519489
  (1, 17)	0.3407582427519489
  (1, 16)	0.4541172921990273
  (1, 18)	0.4541172921990273
  (1, 19)	0.4541172921990273
  (2, 1)	0.13807763065919307
  (2, 0)	0.27615526131838614
  (2, 2)	0.23188991855704888
  (2, 20)	0.3407582427519489
  (2, 17)	0.3407582427519489
  (2, 16)	0.4541172921990273
  (2, 18)	0.4541172921990273
  (2, 19)	0.4541172921990273
  (3, 1)	0.13807763065919307
  :	:
  (211, 5)	0.7292060768468791
  (211, 13)	0.26245236592584875
  (211, 7)	0.4254820802742275
  (211, 1)	0.20896997510409174
  (211, 0)	0.4179399502081835
  (212, 5)	0.7292060768468791
  (212, 13)	0.26245236592584875
  (212, 7)	0.4254820802742275
  (212, 1)	0.20896997510409174
  (212, 0)	0.4179399502081835
  (213, 5)	0.7292060768468791
  (213, 13)	0.26245236592584875
  (213, 7)	0.4254820802742275
  (213, 1)	0.20896997510409174
  (213, 0)	0.4179399502081835
  (214, 5)	0.7292060768468791
  (214, 13)	0.26245236592584875
  (214, 7)	0.4254820802742275
  (214, 1)	0.20896997510409174
  (214, 0)	0.4179399502081835
  (215, 5)	0.7292060768468791
  (215, 13)	0.26245236592584875
  (215, 7)	0.4254820802742275
  (215, 1)	0.20896997510409174
  (215, 0)	0.4179399502081835

In [15]:
similarity = cosine_similarity(feature_vectors)

In [16]:
print(similarity)

[[1.        1.        1.        ... 0.1442704 0.1442704 0.1442704]
 [1.        1.        1.        ... 0.1442704 0.1442704 0.1442704]
 [1.        1.        1.        ... 0.1442704 0.1442704 0.1442704]
 ...
 [0.1442704 0.1442704 0.1442704 ... 1.        1.        1.       ]
 [0.1442704 0.1442704 0.1442704 ... 1.        1.        1.       ]
 [0.1442704 0.1442704 0.1442704 ... 1.        1.        1.       ]]

In [17]:
print(similarity.shape)

(216, 216)

In [67]:
client_name = input(' Enter your favourite client name : ')

 Enter your favourite client name : ZF Group

In [68]:
list_of_all_clients = crescendo_data['foreign_company_name'].tolist()
print(list_of_all_clients)

['Taurus ', '  Intersys Srl', 'TRATEC-CS s.r.o..', 'Trainvac Group', 'Birley Joinery Ltd', 'ALNAL RAILWAY SYSTEMS', 'Festo', 'ZF Group', 'AVK Group', 'Siemens', 'Mitsubhisi Fuso Trucks ', 'SINDO KOREA', 'JTEKT France  ', 'Monmet Canada', 'CAPI GROUP ', 'Maruei Industries', 'Chikuma Japan', 'Sidem Romania ', 'Begas Motor Spain', 'Begas Motor Spain', 'STREPARAVA ITALY ', 'Motovario Italy', 'Sodecia ', 'Sidem Romania ', 'Newbay Foundry', 'Pobjeda', 'Fonder shell', 'VALEO', 'KNORR B', 'CAPI GROUP ', 'Cummins ', 'TNG ', 'BONFIGLIOLI', 'VINFAST ', 'SONALO HORIZONTE', 'JG AUTOMOTIVE', 'SOLENO', 'AMUFER', 'STREPARAVA ITALY ', 'JTEKT France  ', 'Cemmer Turkey ', 'Sidem Romania ', 'Mitsubhisi Fuso Trucks ', 'Teshika Co., Ltd.', 'AGCO', 'AGCO', 'AGCO', 'SINDO KOREA', 'Monmet Canada', 'Mitsubhisi Fuso Trucks ', 'JTEKT France  ', 'JTEKT France  ', 'Cemmer Turkey ', 'CAPI GROUP ITALY', 'Nabtech Engineering Ireland', 'Nabtech Engineering Ireland', 'Begas Motor Spain', 'JTEKT France  ', 'AGCO', 'DANA ', 'DANA ', 'DANA ', 'DANA ', 'DANA ', 'DANA ', 'TAURUS Group', 'Kinglon Group', 'Dana Incorporated ', 'Teknorot Turkey ', 'Teknorot Turkey ', 'Alnal Railway Systems', 'Maschio-Gaspardo', ' SC CAROMET SA', 'FerryTech pvt. ltd.', 'Alstom SA', 'Mercedes-Benz', 'Steel Products', 'Mahle', 'JTEKT JAPAN ', 'Cast Steel Products', 'Cast Steel Products', 'Chint Electric', 'Holley Tech', 'Nero Electronics', 'EMH metering ', 'Sanxing Medical Electric', 'Londian', 'calinmeter', 'Risesun', ' Radarking', 'Traktionssysteme Austria', 'MASATS S.A.', 'MASATS S.A.', 'Borgwarner', 'Bonfiglioli ', 'Fuji Electric Global', 'Stadler Rail', 'Borgwarner', 'Comer Industries ', 'Marelli', 'Ege EndÃ¼stri', 'hubbell', 'Borgwarner', ' Techtronic Industries Co. Ltd. ', 'Ege EndÃ¼stri', 'Comer Industries ', 'JG Automotive', 'Rollix-defontaine', 'Tridec', 'Sisamex', 'Enorossi ', 'Sumitomo Drive Technology', 'sermac pumps', 'Winkelmann Group', 'Sisamex', 'Katsa', 'Teknorot', 'Techtronic Industries Co. Ltd. ', 'Mercedes Benz', 'Komatsu KVX LLC', 'Sanden Corporation ', 'Ege EndÃ¼stri', 'Sanden Corporation ', 'Tenneco Inc', 'Base Studio', 'Teknorot - Steering and Suspension Parts', 'Dana', 'Gabriel', 'Dana', 'JG Automotive', 'MASATS S.A.', 'Bonfiglioli', 'Vibracoustic', 'JG Automotive', 'CHINT, CHINA', 'Sanxsing', 'Imfuyo', ' TÅ½V GREDELJ d.o.o.', 'JIANGSU RAILTECO EQUIPMENT CO., LTD.', 'Å\xa0invoz d.o.o. ', 'Intersys S.r.l.', 'Taurus', 'DOORspec inc. ', ' Univance Corporation', 'Mitsubishi Turbocharger Asia Co. Ltd.', 'comer industries', 'allison transmission', 'Hoerbiger', 'Mitsubhishi Turbocharger', 'Meritor', 'Borgwarner', 'Ege Endustris', 'NTN Transmission', 'Allison Transmission', 'Punch Powertrain', 'TMT International', 'Strato Inc.', 'CRRC Qingdao Sifang Rolling Stock Research Institute Co., Ltd.', 'NTC Kurus', 'RIST LLC', 'Alnal Railway Systems', 'TMT International', 'Siyahamba Engineering', 'Imfuyo Projects (Pty) Ltd', 'Fuji Electric', 'Siyahamba Engineering ', 'ELMESY s.r.o.', 'Tamware Oy AB', 'Siyahamba Engineering', 'Alnal Elektromekanik San.Tic.A.Åž.', 'AkÄ±n Makina', 'Greenbrier ', 'Akina Makina', 'Greenbrier', 'ALNAL RAILWAY SYSTEMS', 'Siyahamba Engineering ', 'MASATS S.A.', 'TRATEC-CS s.r.o..', 'IMFUYO', 'Greenbrier ', 'Akin Makina ', 'Greenbrier ', 'Akin Makina ', 'Naledi Ringrollers', 'Naledi Ringrollers', 'woosu', 'Evac-Train', 'Airpol', 'Denso', 'Motovario', 'Rossi SPA', 'Nexteeer Automotive', 'Bonfiglioli ', 'Comer Industries', 'Allison Transmission', 'Rossi SpA', 'Motovario S.p.A.', 'Brevini Power Transmission', 'Premium Transmission', 'BondioliPavesi', 'Dodge Industrial', 'DB Santaslo', 'Varvel', 'Transtecno', 'The Greenbrier Companies ', 'Birmingham Rail', 'Mc Conway', 'Alstom SA', 'EpowerRail', 'Jaxon', 'Hitachi Rail', 'Miner Enterprises', 'Talgo', 'Wabtec', 'Amsted Rail', 'LAF Lloyd']

In [69]:
find_close_match = difflib.get_close_matches(client_name, list_of_all_clients)
print(find_close_match)

['ZF Group', 'AVK Group', 'TAURUS Group']

In [70]:
close_match = find_close_match[0]
print(close_match)

ZF Group

In [71]:
index_of_the_client = crescendo_data[crescendo_data.foreign_company_name == close_match]['index'].values[0]
print(index_of_the_client)

7

In [72]:
similarity_score = list(enumerate(similarity[index_of_the_client]))
print(similarity_score)

[(0, 0.1596465540346893), (1, 0.1596465540346893), (2, 0.1596465540346893), (3, 0.1596465540346893), (4, 0.1596465540346893), (5, 0.1596465540346893), (6, 1.0000000000000002), (7, 1.0000000000000002), (8, 1.0000000000000002), (9, 1.0000000000000002), (10, 0.3244557838964318), (11, 0.3244557838964318), (12, 0.3244557838964318), (13, 0.3244557838964318), (14, 0.3244557838964318), (15, 0.3244557838964318), (16, 0.3244557838964318), (17, 0.3244557838964318), (18, 0.3244557838964318), (19, 0.3244557838964318), (20, 0.3244557838964318), (21, 0.3244557838964318), (22, 0.3244557838964318), (23, 0.3244557838964318), (24, 1.0000000000000002), (25, 1.0000000000000002), (26, 1.0000000000000002), (27, 1.0000000000000002), (28, 1.0000000000000002), (29, 1.0000000000000002), (30, 1.0000000000000002), (31, 1.0000000000000002), (32, 1.0000000000000002), (33, 1.0000000000000002), (34, 1.0000000000000002), (35, 1.0000000000000002), (36, 1.0000000000000002), (37, 1.0000000000000002), (38, 0.3244557838964318), (39, 0.3244557838964318), (40, 0.3244557838964318), (41, 0.3244557838964318), (42, 0.3244557838964318), (43, 0.1596465540346893), (44, 0.3244557838964318), (45, 0.3244557838964318), (46, 0.3244557838964318), (47, 0.3244557838964318), (48, 0.3244557838964318), (49, 0.3244557838964318), (50, 0.3244557838964318), (51, 0.3244557838964318), (52, 0.3244557838964318), (53, 0.3244557838964318), (54, 0.3244557838964318), (55, 0.3244557838964318), (56, 0.3766910917053252), (57, 0.3766910917053252), (58, 1.0000000000000002), (59, 0.3766910917053252), (60, 0.3766910917053252), (61, 0.3766910917053252), (62, 0.3766910917053252), (63, 1.0000000000000002), (64, 1.0000000000000002), (65, 0.1596465540346893), (66, 1.0000000000000002), (67, 0.3766910917053252), (68, 0.3766910917053252), (69, 0.3766910917053252), (70, 0.1596465540346893), (71, 1.0000000000000002), (72, 1.0000000000000002), (73, 1.0000000000000002), (74, 1.0000000000000002), (75, 0.3766910917053252), (76, 0.3766910917053252), (77, 0.3766910917053252), (78, 0.3766910917053252), (79, 1.0000000000000002), (80, 1.0000000000000002), (81, 0.1428462390667037), (82, 0.1428462390667037), (83, 0.1428462390667037), (84, 0.1428462390667037), (85, 0.1428462390667037), (86, 0.1428462390667037), (87, 0.1428462390667037), (88, 0.1428462390667037), (89, 0.1428462390667037), (90, 1.0000000000000002), (91, 0.17360641895359616), (92, 0.17360641895359616), (93, 0.3766910917053252), (94, 0.3766910917053252), (95, 0.17360641895359616), (96, 1.0000000000000002), (97, 0.3766910917053252), (98, 0.3766910917053252), (99, 0.3766910917053252), (100, 0.3766910917053252), (101, 0.3766910917053252), (102, 0.3766910917053252), (103, 0.3766910917053252), (104, 0.3766910917053252), (105, 0.3766910917053252), (106, 0.3766910917053252), (107, 0.3766910917053252), (108, 0.3766910917053252), (109, 0.3766910917053252), (110, 1.0000000000000002), (111, 1.0000000000000002), (112, 1.0000000000000002), (113, 0.3766910917053252), (114, 0.3766910917053252), (115, 0.3766910917053252), (116, 0.3766910917053252), (117, 0.3766910917053252), (118, 0.3766910917053252), (119, 0.3766910917053252), (120, 0.3766910917053252), (121, 0.3766910917053252), (122, 0.3766910917053252), (123, 0.3766910917053252), (124, 0.3766910917053252), (125, 1.0000000000000002), (126, 0.3766910917053252), (127, 0.3766910917053252), (128, 0.3766910917053252), (129, 0.3766910917053252), (130, 0.17360641895359616), (131, 0.3766910917053252), (132, 0.3766910917053252), (133, 0.3766910917053252), (134, 0.1428462390667037), (135, 0.1428462390667037), (136, 0.17360641895359616), (137, 0.548073990342969), (138, 0.548073990342969), (139, 0.548073990342969), (140, 0.1596465540346893), (141, 0.1596465540346893), (142, 0.17360641895359616), (143, 0.3766910917053252), (144, 0.548073990342969), (145, 0.3766910917053252), (146, 0.3766910917053252), (147, 0.3766910917053252), (148, 0.3766910917053252), (149, 0.3766910917053252), (150, 0.3766910917053252), (151, 0.3766910917053252), (152, 0.3766910917053252), (153, 0.3766910917053252), (154, 0.3766910917053252), (155, 0.1596465540346893), (156, 0.1596465540346893), (157, 0.1596465540346893), (158, 0.1596465540346893), (159, 0.1596465540346893), (160, 0.1596465540346893), (161, 0.17360641895359616), (162, 0.17360641895359616), (163, 0.17360641895359616), (164, 0.17360641895359616), (165, 0.17360641895359616), (166, 0.17360641895359616), (167, 0.17360641895359616), (168, 0.17360641895359616), (169, 0.1596465540346893), (170, 0.3766910917053252), (171, 0.3766910917053252), (172, 0.548073990342969), (173, 0.548073990342969), (174, 0.1596465540346893), (175, 0.17360641895359616), (176, 0.17360641895359616), (177, 0.1596465540346893), (178, 0.17360641895359616), (179, 0.548073990342969), (180, 0.548073990342969), (181, 0.548073990342969), (182, 0.548073990342969), (183, 0.548073990342969), (184, 0.548073990342969), (185, 0.548073990342969), (186, 0.1596465540346893), (187, 0.548073990342969), (188, 0.548073990342969), (189, 0.548073990342969), (190, 0.548073990342969), (191, 0.548073990342969), (192, 0.548073990342969), (193, 0.548073990342969), (194, 0.548073990342969), (195, 0.548073990342969), (196, 0.548073990342969), (197, 0.548073990342969), (198, 0.548073990342969), (199, 0.5181649042737756), (200, 0.5181649042737756), (201, 0.5181649042737756), (202, 0.5181649042737756), (203, 0.5181649042737756), (204, 0.5181649042737756), (205, 0.5181649042737756), (206, 0.5181649042737756), (207, 0.5181649042737756), (208, 0.5181649042737756), (209, 0.5181649042737756), (210, 0.5181649042737756), (211, 0.5181649042737756), (212, 0.5181649042737756), (213, 0.5181649042737756), (214, 0.5181649042737756), (215, 0.5181649042737756)]

In [73]:
len(similarity_score)

216

In [74]:
sorted_similar_clients = sorted(similarity_score, key = lambda x:x[1], reverse = True) 
print(sorted_similar_clients)

[(6, 1.0000000000000002), (7, 1.0000000000000002), (8, 1.0000000000000002), (9, 1.0000000000000002), (24, 1.0000000000000002), (25, 1.0000000000000002), (26, 1.0000000000000002), (27, 1.0000000000000002), (28, 1.0000000000000002), (29, 1.0000000000000002), (30, 1.0000000000000002), (31, 1.0000000000000002), (32, 1.0000000000000002), (33, 1.0000000000000002), (34, 1.0000000000000002), (35, 1.0000000000000002), (36, 1.0000000000000002), (37, 1.0000000000000002), (58, 1.0000000000000002), (63, 1.0000000000000002), (64, 1.0000000000000002), (66, 1.0000000000000002), (71, 1.0000000000000002), (72, 1.0000000000000002), (73, 1.0000000000000002), (74, 1.0000000000000002), (79, 1.0000000000000002), (80, 1.0000000000000002), (90, 1.0000000000000002), (96, 1.0000000000000002), (110, 1.0000000000000002), (111, 1.0000000000000002), (112, 1.0000000000000002), (125, 1.0000000000000002), (137, 0.548073990342969), (138, 0.548073990342969), (139, 0.548073990342969), (144, 0.548073990342969), (172, 0.548073990342969), (173, 0.548073990342969), (179, 0.548073990342969), (180, 0.548073990342969), (181, 0.548073990342969), (182, 0.548073990342969), (183, 0.548073990342969), (184, 0.548073990342969), (185, 0.548073990342969), (187, 0.548073990342969), (188, 0.548073990342969), (189, 0.548073990342969), (190, 0.548073990342969), (191, 0.548073990342969), (192, 0.548073990342969), (193, 0.548073990342969), (194, 0.548073990342969), (195, 0.548073990342969), (196, 0.548073990342969), (197, 0.548073990342969), (198, 0.548073990342969), (199, 0.5181649042737756), (200, 0.5181649042737756), (201, 0.5181649042737756), (202, 0.5181649042737756), (203, 0.5181649042737756), (204, 0.5181649042737756), (205, 0.5181649042737756), (206, 0.5181649042737756), (207, 0.5181649042737756), (208, 0.5181649042737756), (209, 0.5181649042737756), (210, 0.5181649042737756), (211, 0.5181649042737756), (212, 0.5181649042737756), (213, 0.5181649042737756), (214, 0.5181649042737756), (215, 0.5181649042737756), (56, 0.3766910917053252), (57, 0.3766910917053252), (59, 0.3766910917053252), (60, 0.3766910917053252), (61, 0.3766910917053252), (62, 0.3766910917053252), (67, 0.3766910917053252), (68, 0.3766910917053252), (69, 0.3766910917053252), (75, 0.3766910917053252), (76, 0.3766910917053252), (77, 0.3766910917053252), (78, 0.3766910917053252), (93, 0.3766910917053252), (94, 0.3766910917053252), (97, 0.3766910917053252), (98, 0.3766910917053252), (99, 0.3766910917053252), (100, 0.3766910917053252), (101, 0.3766910917053252), (102, 0.3766910917053252), (103, 0.3766910917053252), (104, 0.3766910917053252), (105, 0.3766910917053252), (106, 0.3766910917053252), (107, 0.3766910917053252), (108, 0.3766910917053252), (109, 0.3766910917053252), (113, 0.3766910917053252), (114, 0.3766910917053252), (115, 0.3766910917053252), (116, 0.3766910917053252), (117, 0.3766910917053252), (118, 0.3766910917053252), (119, 0.3766910917053252), (120, 0.3766910917053252), (121, 0.3766910917053252), (122, 0.3766910917053252), (123, 0.3766910917053252), (124, 0.3766910917053252), (126, 0.3766910917053252), (127, 0.3766910917053252), (128, 0.3766910917053252), (129, 0.3766910917053252), (131, 0.3766910917053252), (132, 0.3766910917053252), (133, 0.3766910917053252), (143, 0.3766910917053252), (145, 0.3766910917053252), (146, 0.3766910917053252), (147, 0.3766910917053252), (148, 0.3766910917053252), (149, 0.3766910917053252), (150, 0.3766910917053252), (151, 0.3766910917053252), (152, 0.3766910917053252), (153, 0.3766910917053252), (154, 0.3766910917053252), (170, 0.3766910917053252), (171, 0.3766910917053252), (10, 0.3244557838964318), (11, 0.3244557838964318), (12, 0.3244557838964318), (13, 0.3244557838964318), (14, 0.3244557838964318), (15, 0.3244557838964318), (16, 0.3244557838964318), (17, 0.3244557838964318), (18, 0.3244557838964318), (19, 0.3244557838964318), (20, 0.3244557838964318), (21, 0.3244557838964318), (22, 0.3244557838964318), (23, 0.3244557838964318), (38, 0.3244557838964318), (39, 0.3244557838964318), (40, 0.3244557838964318), (41, 0.3244557838964318), (42, 0.3244557838964318), (44, 0.3244557838964318), (45, 0.3244557838964318), (46, 0.3244557838964318), (47, 0.3244557838964318), (48, 0.3244557838964318), (49, 0.3244557838964318), (50, 0.3244557838964318), (51, 0.3244557838964318), (52, 0.3244557838964318), (53, 0.3244557838964318), (54, 0.3244557838964318), (55, 0.3244557838964318), (91, 0.17360641895359616), (92, 0.17360641895359616), (95, 0.17360641895359616), (130, 0.17360641895359616), (136, 0.17360641895359616), (142, 0.17360641895359616), (161, 0.17360641895359616), (162, 0.17360641895359616), (163, 0.17360641895359616), (164, 0.17360641895359616), (165, 0.17360641895359616), (166, 0.17360641895359616), (167, 0.17360641895359616), (168, 0.17360641895359616), (175, 0.17360641895359616), (176, 0.17360641895359616), (178, 0.17360641895359616), (0, 0.1596465540346893), (1, 0.1596465540346893), (2, 0.1596465540346893), (3, 0.1596465540346893), (4, 0.1596465540346893), (5, 0.1596465540346893), (43, 0.1596465540346893), (65, 0.1596465540346893), (70, 0.1596465540346893), (140, 0.1596465540346893), (141, 0.1596465540346893), (155, 0.1596465540346893), (156, 0.1596465540346893), (157, 0.1596465540346893), (158, 0.1596465540346893), (159, 0.1596465540346893), (160, 0.1596465540346893), (169, 0.1596465540346893), (174, 0.1596465540346893), (177, 0.1596465540346893), (186, 0.1596465540346893), (81, 0.1428462390667037), (82, 0.1428462390667037), (83, 0.1428462390667037), (84, 0.1428462390667037), (85, 0.1428462390667037), (86, 0.1428462390667037), (87, 0.1428462390667037), (88, 0.1428462390667037), (89, 0.1428462390667037), (134, 0.1428462390667037), (135, 0.1428462390667037)]

In [ ]:
# print the name of similar movies based on the index

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_clients:
  index = movie[0]
  title_from_index = crescendo_data[crescendo_data.index==index]['foreign_company_name'].values[0]
  co_operaion_from_index = crescendo_data[crescendo_data.index==index]['type_of_co_operation'].values[0]
  product_name_from_index = crescendo_data[crescendo_data.index==index]['product_name'].values[0]
  annual_turnover_from_index = crescendo_data[crescendo_data.index==index]['annual_tunover'].values[0]
  if (i<30):
    print(i, 'Company Name :-',title_from_index,':\n Type of Co-operation :-',co_operaion_from_index,'\n Type of Product they are Intrested to buy:-',product_name_from_index,'\n Annual turnover of Buyer :-',annual_turnover_from_index)
    i+=1

In [108]:
def recomend_suitable_clients(client_name):
  find_close_match = difflib.get_close_matches(client_name, list_of_all_clients)
  close_match = find_close_match[0]
  index_of_the_client = crescendo_data[crescendo_data.foreign_company_name == close_match]['index'].values[0]
  similarity_score = list(enumerate(similarity[index_of_the_client]))
  sorted_similar_clients = sorted(similarity_score, key = lambda x:x[1], reverse = True) 
  print('Movies suggested for you : \n')
  i = 1
  for movie in sorted_similar_clients:
    index = movie[0]
    title_from_index = crescendo_data[crescendo_data.index==index]['foreign_company_name'].values[0]
    co_operaion_from_index = crescendo_data[crescendo_data.index==index]['type_of_co_operation'].values[0]
    product_name_from_index = crescendo_data[crescendo_data.index==index]['product_name'].values[0]
    annual_turnover_from_index = crescendo_data[crescendo_data.index==index]['annual_tunover'].values[0]
    if (i<4):
      print(i, 'Company Name :-',title_from_index,':\n Type of Co-operation :-',co_operaion_from_index,'\n Type of Product they are Intrested to buy:-',product_name_from_index,'\n Annual turnover of Buyer :-',annual_turnover_from_index)
      i+=1
recomend_suitable_clients(input())

Hitachi Rail
Movies suggested for you :

1 Company Name :- BondioliPavesi :
 Type of Co-operation :- OutSourcing
 Type of Product they are Intrested to buy:- Casting
 Annual turnover of Buyer :- 80,00,00,000
2 Company Name :- Dodge Industrial :
 Type of Co-operation :- OutSourcing
 Type of Product they are Intrested to buy:- Casting
 Annual turnover of Buyer :- 80,00,00,000
3 Company Name :- DB Santaslo :
 Type of Co-operation :- OutSourcing
 Type of Product they are Intrested to buy:- Casting
 Annual turnover of Buyer :- 80,00,00,000

In [78]:
import pickle

In [109]:
pickle.dump(crescendo_data,open("recomend_suitable_clients.pkl","wb"))
pickle.dump(similarity,open("similarity.pkl","wb"))